#satolep-nav section {
  position: relative;
}

#satolep-nav section p {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  cursor: default;
  padding: 13px 15px;
}

#satolep-nav section p:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#satolep-nav section ul {
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 0;
  opacity: 0;
  transition: all 0.25s ease-out;
  pointer-events: none;
}

#satolep-nav section:hover ul {
  max-height: 500px;
  transition: all 0.25s ease-in;
  opacity: 1;
  pointer-events: all;
}

#satolep-nav section li {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

#satolep-nav section li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#satolep-nav section li a {
  padding: 7.5px 15px 7.5px 25px;
  width: 100%;
}
